extends ./layout.jade

block content
  .navbar-fixed
    nav
      .nav-wrapper
        ul.right.hide-on-med-and-down
          li
            a Login
          li
            a.waves-effect.waves-light.btn(href="/view/proyecto") Unete
  .section.white.container
    .row
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 1
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 2
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 3
              p.black-text Una breve descripción
    .row
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 4
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 5
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 6
              p.black-text Una breve descripción
    .row
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 7
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 8
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 9
              p.black-text Una breve descripción
    .row
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 10
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 11
              p.black-text Una breve descripción
      .col.s4
        a(href='/view/proyecto')
          .card.small
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Proyecto 12
              p.black-text Una breve descripción
