extends ./layout.jade

block content
  .navbar-fixed
    nav.teal.lighten
      .nav-wrapper
        ul.right.hide-on-med-and-down
          li
            a(href="proyectos") Login
          li
            a.waves-effect.waves-light.amber.darken-4.btn(href="registro") Unete
  .parallax-container
    .parallax.headerimg
      .headertext 
        h2 Contribuye a generar un cambio
        h4 en la educación en México.
      img(src="/img/landingheader.jpg")
  .section.white
    .row.container
      h3.header e<b><font  color="#26a69a">DO</font></b>cation
      .grey-text.text-darken-3.lighten-3
        p.flow-text La pobreza es un problema que inicia por falta de educación, ya que esta no se encuentra al alcance de todos por diversos factores, los principales son distancias y recursos. 
        p.flow-text Ayuda a generar un cambio con <b>e<font  color="#26a69a">DO</font>cation</b>, la plataforma en la que podrás aportar a proyectos de educación a través de voluntariado, recursos materiales o monetarios.
      .row
        .col.s4
          .card.medium
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5 Mariana Estrada
              p Chilpancingo, Guerrero
              p Participa en <b>Mejorando siempre</b>
            .card-action
              a(href="registro") Participa
        .col.s4
          .card.medium
            .card-image
              img(src="/img/maestropepe.jpg")
            .card-content
              h5 Ernesto Rodriguez
              p Sauz de Armenta, Guanajuato
              p Participa en <b>Todos por Guanajuato</b>
            .card-action
              a(href="registro") Participa
        .col.s4
          .card.medium
            .card-image
              img(src="/img/maestragabyu.jpg")
            .card-content
              h5 Gabriela Hernandez
              p Xicoténcatl, Tamaulipas
              p Participa en <b>No dejes nada atras</b>
            .card-action
              a(href="registro") Participa
  .parallax-container
    .parallax.headerimg
      .headertext
        h2 Generemos oportunidades para las personas
        h4 con menos recursos a través de la educación.
      img(src="/img/landingfooter.jpg")
  #modal.modal
    .modal-content
      h3 Unete y participa como:
      .row.headerimg
        .col.s4
          a.headerimg(href="registro")
            i.large.material-icons person_pin
            h6 Donador
        .col.s4
          a.headerimg(href="registro")
            i.large.material-icons assignment_ind
            h6 Proyecto con causa
  append javascript
    script.
      $(document).ready(function(){
        $('.parallax').parallax();
      });
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });
