doctype html
html(lang='es')
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/app.css")
    block head
  body
    block content
    block javascript
      script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    block footer
      footer.page-footer.teal.lighten
        .container
          .row
            .col.l6.s12
              p.grey-text.text-lighten-4 e<b>DO</b>cation es una plataforma de crowdfunding educativo pensado y desarrollado en el Hackaton Centro Fox para erradicar la pobreza en México a través de la educación.
