extends ./layout.jade

block content
  .navbar-fixed
    nav.teal.lighten
      .nav-wrapper
        ul.right.hide-on-med-and-down
          li
            a.waves-effect.waves-light.amber.darken-4.btn(href="/registroproyecto") Nuevo proyecto
  .section.white.container
    .row
      .col.s4
        a(href='/proyecto')
          .card.medium
            .card-image
              img(src="/img/proyectimg.jpg")
            .card-content
              h5.black-text Clases para los niños Tarahumara.
              p.black-text En la sierra Tarahumara no hay ninguna escuela cercana y por lo tanto, los niños no asisten a ninguna, por lo que se quiere llevar clases de alfabetización y regularización para niños y jóvenes de diferentes edades y así brindarles la oportunidad de tener un mejor futuro.
      .col.s4
        a(href='/proyecto')
          .card.medium
            .card-image
              img(src="/img/maestrajuana.JPG")
            .card-content
              h5.black-text Construyendo escuelas, Puebla
              p.black-text Actualmente en el estado de Puebla, en la región de la sierra no se cuenta con escuelas que tengan las condiciones mínimas aceptables para impartir cursos por lo que se abre este proyecto para construir un salón de clases en el que se puedan impartir clases a niños de primaria.
      .col.s4
        a(href='/proyecto')
          .card.medium
            .card-image
              img(src="/img/maestropepe.jpg")
            .card-content
              h5.black-text Alfabetización para jóvenes campesinos.
              p.black-text Se realizará una jornada de alfabetización para jóvenes campesinos de la región sureste del país para ofrecerles más oportunidades en la vida y ayudarles en su desarrollo personal. Se pretende que dicha campaña se lleve a cabo en el mes de noviembre de 2016…
      .col.s4
        a(href='/proyecto')
          .card.medium
            .card-image
              img(src="/img/maestragabyu.jpg")
            .card-content
              h5.black-text No dejes nada atrás
              p.black-text Se realizará un ciclo de regularización y exámenes de certificación de primaria para personas que hayan tenido que abandonar la educación en la región de Sánchez Magallanes, Tabasco. Para ello es necesario contar con diversos factores por lo que solicitamos tu ayuda.
      .col.s4
        a(href='/proyecto')
          .card.medium
            .card-image
              img(src="/img/maestropepe.jpg")
            .card-content
              h5.black-text Todos por Guanajuato
              p.black-text Jornada de regularización de niños de escasos recursos alrededor del estado para nivelarlos y darles la oportunidad de que se reincorporen al sistema educativo escolarizado alcanzando el nivel necesario acorde a su edad.
      .col.s4
        a(href='/proyecto')
          .card.medium
            .card-image
              img(src="/img/proyectimg.jpg")
            .card-content
              h5.black-text Clases para los niños Tarahumara.
              p.black-text En la sierra Tarahumara no hay ninguna escuela cercana y por lo tanto, los niños no asisten a ninguna, por lo que se quiere llevar clases de alfabetización y regularización para niños y jóvenes de diferentes edades y así brindarles la oportunidad de tener un mejor futuro.
      if projects
        each project in projects
          .col.s4
            a(href='/proyecto/#{project._id}')
              .card.medium
                .card-image
                  img(src="/img/proyectimg.jpg")
                .card-content
                  h5.black-text #{project.name}
                  p.black-text En la sierra Tarahumara no hay ninguna escuela cercana y por lo tanto, los niños no asisten a ninguna, por lo que se quiere llevar clases de alfabetización y regularización para niños y jóvenes de diferentes edades y así brindarles la oportunidad de tener un mejor futuro.
