extends ./layout.jade

block content
  .navbar-fixed
    nav
      .nav-wrapper
        ul.right.hide-on-med-and-down
          li
            a Login
          li
            a.modal-trigger(href="#modal") Unete
  .parallax-container
    .parallax.headerimg
      .headertext 
        h2 Proyecto Z
      img(src="/img/landingheader.jpg")
  .section.white
    .row.container
      .col.s8
        h3.header Descripción
      .col.s4.offset.center-align
        a.waves-effect.waves-light.btn-large
          | Donar
      .row.container
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit fringilla varius. Donec suscipit congue libero a pretium. Pellentesque ut sem sagittis, vulputate nunc nec, egestas lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse hendrerit nec dui eget tempus. Ut a mauris efficitur, tristique justo sit amet, pretium diam. Nulla hendrerit sem eget nulla aliquet ornare a non felis. Nulla commodo sapien quis nibh posuere sollicitudin. Nam sagittis consequat aliquam. Nulla a dui consequat, luctus justo quis, mollis neque. Vestibulum faucibus finibus vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris non nunc et ante congue lobortis. Aenean consectetur, metus quis congue cursus, justo eros vulputate sapien, ut congue urna augue eu diam. Aenean posuere purus eu dui mollis iaculis et non justo. 
        ul
          li Objetivo 1
          li Objetivo 2
          li Objetivo 3
          li Objetivo 4
          li Objetivo 5
          li Objetivo 6
          li Objetivo 7
          li Objetivo 8
  append javascript
    script.
      $(document).ready(function(){
        $('.parallax').parallax();
      });
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });
