extends ./layout.jade

block content
  .navbar-fixed
    nav.teal.lighten
      .nav-wrapper
        ul.right.hide-on-med-and-down
          li
            a.waves-effect.waves-light.amber.darken-4.btn(href="registroproyecto") Proyecto nuevo
  .row.container
    h3 Registro de Proyecto
    form.col.s12
      .row 
        .input-field.col.s6
          i.material-icons.prefix view_list
          input#name.validate(type="text" name="name")
          label(for="name") Nombre
        .input-field.col.s6
          .file-field.input-field
            .btn
              span Imagen
              input(type="file")
            .file-path-wrapper
              input.file-path.validate(type="text" name="imgproyect")
      .row 
        .input-field.col.s6
          i.material-icons.prefix language
          input#localidad.validate(type="text" name="localidad")
          label(for="localidad") Localidad
      .row 
        .input-field.col.s6
          i.material-icons.prefix email
          input#mail.validate(type="email" name="mail")
          label(for="mail") Correo electronico
      .row 
        .input-field.col.s6
          i.material-icons.prefix description
          textarea#descrip.materialize-textarea(name="descrip")
          label(for="descrip") Descripción del proyecto
      .row 
        .input-field.col.s6
          i.material-icons.prefix receipt
          textarea#materials.materialize-textarea(name="materials")
          label(for="materials") Materiales
      .row 
        .input-field.col.s6
          i.material-icons.prefix recent_actors
          textarea#voluntarios.materialize-textarea(name="voluntarios")
          label(for="voluntarios") Voluntarios
      .row 
        .input-field.col.s6
          i.material-icons.prefix trending_up
          input#apoyo.validate(type="text" name="apoyo")
          label(for="apoyo") Apoyo monetario
      .row 
        .input-field.col.s6.right-align
          button.btn.waves-effect.waves-light(type="submit" name="action") Enviar
