/* line 1, css/app */
.headerimg {
  justify-content: center;
  align-items: center;
  display: flex;
}
/* line 7, css/app */
.headertext {
  z-index: 100;
  color: white;
  text-align: center;
}
/* line 13, css/app */
.text-shadow {
  text-shadow: black 0px 0px 10px;
}
